<div class="container-fluid g-0">
    <app-header (sideNavToggled)="sideNavStatus = $event"></app-header>

    <main>

        <app-sidemenu [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-sidemenu>

        <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
            <p class="fs-1 fw-bold fst-italic">Main Display Area</p>
        </div>


    </main>

    <app-footer [ngClass]="{'display-area-shrink': sideNavStatus}"></app-footer>

</div>