.p-menubar {
    padding: 0;
    background: #f8f9fa;
    color: #495057;
    border: none !important;
    border-radius: 0px;
}

.layout-footer {
    height: 4rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layout-footer img {
    width: 50px;
}