.p-menubar {
    padding: 0;
    background: #f8f9fa;
    color: #495057;
    border: none !important;
    border-radius: 0px;
}

.layout-footer {
    display: flex;
    justify-content: space-between;
}

.layout-footer img {
    width: 50px;
}