.empresa {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.empresa-item {
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    margin: 0.5rem;
    border-radius: 16px;
    padding: 1rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    h3 {
        font-weight: 400;
        font-size: 18px;
        margin: 0.5em 0;
    }
    img {
        width: 145px;
        height: 145px;
    }
}

.empresa button {
    width: 100px;
}

.box-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(232, 242, 255, 0.692) 0px 3px 5px;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}

.btn-hover {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    border: none;
    background-size: 300% 100%;
    border-radius: 30px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-image: linear-gradient(to right, #56CCF2, #2F80ED, #56CCF2, #2F80ED);
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.titulo-modulo {
    margin: 0;
    color: #44486D;
}

.link__modulo {
    text-decoration: none;
    // font-size: 12px;
}