<lib-page-processo titulo="Teste" [pageProcessoComponent]="this">
  <section *ngIf="empresaSelecionada">
    <div style="text-align:center;">
      <h3>Todos Os Aplicativos</h3>
    </div>
    <div class="grid p-3">
      <div class="md:col-3 sm:col-12" *ngFor="let modulo of listaModulos">
        <div class="box-display btn-hover">
          <a class="link__modulo" title="{{modulo.url}}" href="{{modulo.url}}">
            <p class="titulo-modulo">{{modulo.nomeLogo}}</p>
          </a>
          <img src="{{'data:image/jpg;base64,' + modulo?.bytes}} " width="50">
        </div>
      </div>
    </div>

    <div style="text-align:center;">
      <button pButton class="p-button-text p-button-sm" type="button" label="Voltar" (click)="voltar()"></button>
    </div>

  </section>
</lib-page-processo>
