@import "../node_modules/primeng/resources/primeng.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeng/resources/themes/lara-dark-blue/theme.css";
@import "../../front-base/projects/adm-default/src/lib/assets/theme-interage-dark.css";
@import "../../front-base/projects/adm-default/src/lib/assets/interage.css";


.p-component,
th,
.p-fieldset .p-fieldset-legend {
    font-size: 13px !important;
    //height: 10px;
}

.p-paginator {
    padding: 0;
    margin: 0;
    background: transparent;
}

.p-datatable .p-datatable-tbody>tr>td {
    padding-bottom: 7px;
    padding-top: 7px;
    font-size: 14px;
}

input {
    width: 100% !important;
}

.p-selectbutton .p-buttonset {
    width: 100%
}

.l100 {
    width: 100% !important;
}

.l80 {
    width: 80% !important;
}

.ui-widget-overlay {
    opacity: 0;
}

.text-style {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    b {
        font-size: 1rem;
    }
}

.alinhar-esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centralizar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alinhar-direita {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.l100 {
    width: 100% !important;
}

.btn-acao {
    display: flex;
    .p-button.p-button-icon-only {
        width: 2rem;
        padding: 0.5rem 0px;
    }
}
